<launch>
    <!-- import joy button/axis mapping settings -->
    <rosparam file="$(find cr18_main)/param/joy_assign_wireless.yaml" command="load" />

    <!-- base controller -->
    <node pkg="base_controller" type="base_controller" name="base_controller" output="screen">
        <param name="motor_max_acc" value="38.000" />
        <param name="motor_max_vel" value="37.699111843" />
        <param name="motor_vel_coeff" value="33.333333333" />
        <param name="robot_radius" value="0.150" />
        <param name="invert_x" value="true" />
        <param name="invert_y" value="true" />
        <param name="invert_z" value="false" />
    </node>

    <!-- tr_main -->
    <node pkg="cr18_main" type="cr_main_joy" name="cr_main" output="screen">
        <rosparam param="lift_position">[0, 35, 55, 303, 540]</rosparam>
    </node>

    <!-- useless planner -->
    <node pkg="base_controller" type="crude_planner" name="crude_planner" output="screen" if="false">
        <rosparam file="$(find cr18_main)/param/crude_planner.yaml" command="load" />
    </node>

    <!-- useless planner -->
    <node pkg="base_controller" type="useless_planner" name="useless_planner" output="screen" if="true">
        <rosparam file="$(find cr18_main)/param/useless_planner_params.yaml" command="load" />
    </node>

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find cr18_main)/map/cr18_full.yaml" />

    <!-- odometry broadcaster -->
    <node pkg="base_controller" type="odom_publisher" name="odom_publisher" if="false">
        <param name="ctrl_freq" value="120" />
        <param name="odom_frame" value="map" />

        <remap from="/odom/yaw" to="/odom_raw/yaw" />
        <remap from="/odom/x" to="/odom_raw/x" />
        <remap from="/odom/y" to="/odom_raw/y" />
    </node>

    <!-- dummy odom -->
    <node pkg="navigation" type="dummy_odom" name="dummy_odom" if="true">
        <param name="freq" value="200" />
        <param name="odom_frame" value="map" />
    </node>

    <!-- dummy amcl -->
    <node pkg="navigation" type="dummy_amcl" name="dummy_amcl" if="true">
    </node>

    <!-- odometry TF broadcaster -->
    <node pkg="navigation" type="odometry_broadcaster" name="odom_brdcster">
        <param name="freq" value="150" />
        <param name="odom_frame" value="map" />
        <param name="base_frame" value="odom_link" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster"
        args="0.045286 0 0 0 0 0 odom_link base_link 100" />

    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>

    <!-- base itself -->
    <node pkg="rosserial_server" type="serial_node" name="base">
        <rosparam>
            port: /dev/ttyUSB0
            baud: 921600
        </rosparam>
    </node>

    <!-- odom -->
    <node pkg="rosserial_server" type="serial_node" name="odom">
        <rosparam>
            port: /dev/ttyUSB1
            baud: 921600
        </rosparam>
        <remap from="/odom/yaw" to="/odom_raw/yaw" />
        <remap from="/odom/x" to="/odom_raw/x" />
        <remap from="/odom/y" to="/odom_raw/y" />
    </node>

    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
</launch>
