<launch>
<rosparam file="$(find cr18_main)/param/joy_assign_wireless.yaml" command="load" />
    <!-- base controller -->
    <node pkg="base_controller" type="base_controller" name="base_controller" output="screen">
        <param name="motor_max_acc" value="80.000" />
        <param name="motor_max_vel" value="50.000" />
        <param name="motor_vel_coeff" value="33.333333333" />
        <param name="robot_radius" value="0.172125" />
        <param name="invert_x" value="true" />
        <param name="invert_y" value="true" />
        <param name="invert_z" value="false" />
        <param name="sensitivity_adj_pow_xy" value="2.0" />
        <param name="sensitivity_adj_pow_z" value="2.0" />
    </node>
    
    <!-- tr_main -->
    <node pkg="cr18_main" type="cr_main_joy" name="cr_main" output="screen">
        <rosparam param="extension_steps_per_deg">138.888888888889</rosparam>
        <rosparam param="extension_angle_extended">5.0</rosparam>
        <rosparam param="extension_angle_half_extended">15.0</rosparam>
        <rosparam param="extension_angle_retracted">90.0</rosparam>
        <rosparam param="extension_angle_initial">90.0</rosparam>
        
        <rosparam param="delay_before_retraction">1.0</rosparam>
        <rosparam param="delay_after_extension">0.7</rosparam>
    </node>
    
    <!-- joy teleop -->
    <node pkg="base_controller" type="base_teleop_joy" name="base_teleop_joy" output="screen">
        <param name="max_lin" value="0.5" />
        <param name="max_ang" value="1.570796327" />
    </node>
    
    <!-- joy node -->picker_extend_delay
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>

    <!-- base itself -->
    <node pkg="rosserial_server" type="serial_node" name="base">
        <rosparam>
            port: /dev/ttyUSB0
            baud: 921600
        </rosparam>
        <remap from="pitch_angle" to="extension_angle" />
        <remap from="chuck_left" to="chuck_left_chucked" />
        <remap from="chuck_right" to="chuck_right_chucked" />
    </node>

    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
</launch>
