<launch>
<rosparam file="$(find cr18_main)/param/joy_assign_wireless.yaml" command="load" />
    <!-- base controller -->
    <node pkg="base_controller" type="base_controller" name="base_controller" output="screen">
        <param name="motor_max_acc" value="80.000" />
        <param name="motor_max_vel" value="50.000" />
        <param name="motor_vel_coeff" value="33.333333333" />
        <param name="robot_radius" value="0.172125" />
        <param name="invert_x" value="true" />
        <param name="invert_y" value="true" />
        <param name="invert_z" value="false" />
    </node>
    
    <!-- tr_main -->
    <node pkg="cr18_main" type="cr_main_joy" name="cr_main" output="screen">
        <rosparam param="launcher_pitch_angle_increment">10.0</rosparam>
        <rosparam param="launcher_pitch_angle_min">5.0</rosparam>
        <rosparam param="launcher_pitch_angle_max">75.0</rosparam>
        <rosparam param="pitch_angle">[6.5, 10.0, 15.0, 45.0]</rosparam>
        <rosparam param="launcher_esc">[1130, 1250, 1400, 1500]</rosparam>
        <rosparam param="launcher_esc_off">1000</rosparam>
        <rosparam param="loader_servo_extend">600</rosparam>
        <rosparam param="loader_servo_retract">2500</rosparam>
        
        <rosparam param="picker_auto_extend">false</rosparam>
        <rosparam param="picker_esc_on">1200</rosparam>
        <rosparam param="picker_esc_off">1000</rosparam>
        <rosparam param="picker_servo_extend">1000</rosparam>
        <rosparam param="picker_servo_retract">2500</rosparam>
        
        <rosparam param="loader_retract_delay">1.0</rosparam>
        <rosparam param="picker_retract_delay">2.0</rosparam>
        <rosparam param="picker_extend_delay">1.0</rosparam>
        
        
    </node>
    
    <!-- joy teleop -->
    <node pkg="base_controller" type="base_teleop_joy" name="base_teleop_joy" output="screen">
        <param name="max_lin" value="0.5" />
        <param name="max_ang" value="1.570796327" />
    </node>
    
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>

    <!-- base itself -->
    <node pkg="rosserial_server" type="serial_node" name="base">
        <rosparam>
            port: /dev/ttyUSB0
            baud: 921600
        </rosparam>
    </node>

    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
</launch>
