<launch>
<rosparam file="$(find nhk2018_main_ros)/param/joy_assign_wired.yaml" command="load" />
    <!-- base controller -->
    <node pkg="base_controller" type="base_controller" name="base_ctrl" output="screen">
       <param name="motor_max_acc" value="130.0" />
       <param name="motor_max_vel" value="60.0" />
       <param name="invert_x" value="false" />
       <param name="invert_y" value="true" />
       <param name="invert_z" value="false" />
    </node>
    
    <!-- tr_main -->
    <node pkg="nhk2018_main_ros" type="cr_main_joy" name="cr_main" output="screen">
    </node>
    
    <!-- joy teleop -->
    <node pkg="base_controller" type="base_teleop_joy" name="base_teleop_joy"/>
    
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>
    
    <!-- shutdown controller -->
    <node pkg="base_controller" type="shutdown_controller_joy" name="shutdown_ctrl" />
    
    <!-- base itself -->
    <node pkg="rosserial_server" type="serial_node" name="base">
<rosparam>
port: /dev/ttyUSB0
baud: 57600
require:
  publishers: [  ]
  subscribers: [ motor_cmd_vel, shutdown ]
</rosparam>
    </node>
    
    <!-- hand itself -->
    <node pkg="rosserial_server" type="serial_node" name="hands">
<rosparam>
port: /dev/ttyUSB1
baud: 57600
require:
  publishers: [  ]
  subscribers: [ shutdown ]
</rosparam>
    </node>
    
    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
</launch>
