<launch>
    <!-- import joy button/axis mapping settings -->
    <rosparam file="$(find cr18_main)/param/joy_assign_wireless.yaml" command="load" />
    
    <!-- base controller -->
    <node pkg="base_controller" type="base_controller" name="base_controller" output="screen">
        <param name="motor_max_acc" value="35.000" />
        <param name="motor_max_vel" value="37.699111843" />
        <param name="motor_vel_coeff" value="33.333333333" />
        <param name="robot_radius" value="0.150" />
        <param name="invert_x" value="true" />
        <param name="invert_y" value="true" />
        <param name="invert_z" value="false" />
    </node>
    
    <!-- tr_main -->
    <node pkg="cr18_main" type="cr_main_joy" name="cr_main" output="screen">
        <rosparam param="lift_position">[0, 35, 55, 303, 540]</rosparam>
    </node>
    
    <node pkg="base_controller" type="odom_broadcaster" name="odom_brdcster">
        <param name="ctrl_freq" value="10" />
        <param name="odom_frame" value="map" />
        
        <remap from="/odom/yaw" to="/odom_raw/yaw" />
        <remap from="/odom/x" to="/odom_raw/x" />
        <remap from="/odom/y" to="/odom_raw/y" />
    </node>
    
    <!-- joy teleop -->
    <node pkg="base_controller" type="base_teleop_joy" name="base_teleop_joy" output="screen">
        <param name="max_lin" value="0.5" />
        <param name="max_ang" value="1.570796327" />
    </node>
    
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>

    <!-- base itself -->
    <node pkg="rosserial_server" type="serial_node" name="base">
        <rosparam>
            port: /dev/ttyUSB0
            baud: 921600
        </rosparam>
    </node>

    <!-- odom -->
    <node pkg="rosserial_server" type="serial_node" name="odom">
        <rosparam>
            port: /dev/ttyUSB1
            baud: 921600
        </rosparam>
        <remap from="/odom/yaw" to="/odom_raw/yaw" />
        <remap from="/odom/x" to="/odom_raw/x" />
        <remap from="/odom/y" to="/odom_raw/y" />
    </node>

    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
</launch>
