<launch>
    <!-- arg name="use_sim_time" default="false"/>
    <param name="use_sim_time" value="$(arg use_sim_time" /-->
    <arg name="use_joy" value="true" />
    
    <!-- base controller -->
    <node pkg="base_controller" type="base_controller" name="base_ctrl" output="screen">
       <param name="motor_max_acc" value="100.0" />
       <param name="motor_max_vel" value="50" />
       <param name="invert_x" value="false" />
       <param name="invert_y" value="true" />
       <param name="invert_z" value="false" />
    </node>
    
    <include file="$(find navigation)/launch/navigation.launch">
        <arg name="map_file" value="$(find navigation)/map/map_centre_incomplete.yaml" />
    </include>

    <!-- tr_main -->
    <!-- node pkg="nhk2018_main_ros" type="tr_main_auto_1v" name="main" output="screen">
        <param name="tr" value="2" />
        <rosparam param="unchuck_thres">[450, 400, 144]</rosparam>
    </node -->
    
    
    <!-- joy teleop -->
    <node pkg="base_controller" type="base_teleop_joy" name="base_teleop_joy"/>
    
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>
    
    
    <!-- shutdown controller -->
    <node pkg="base_controller" type="shutdown_controller_joy" name="shutdown_ctrl" />
    
    <!--node pkg="tf" type="static_transform_publisher" name="base_to_laser_link" args="0 0 0 0 0 0 base_link laser_link 100"/-->
    
    <!-- base itself -->
    <node pkg="rosserial_server" type="serial_node" name="base">
<rosparam>
port: /dev/ttyUSB0
baud: 57600
require:
  publishers: [  ]
  subscribers: [ motor_cmd_vel, shutdown ]
</rosparam>
    </node>
    
    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
</launch>
