<launch>

    <!-- Navigation stuff -->
    <include file="$(find navigation)/launch/navigation.launch">
        <arg name="use_amcl" value="false" />
    </include>
    
    <node pkg="nhk2018_main_ros" type="tr_launcher_unitTest" name="main" output="screen">
        <rosparam param="unchuck_thres">[450, 400, 144]</rosparam>
    </node>
    <!-- 2000 for tz1 -->
    
    <!-- shutdown controller -->
    <!-- node pkg="base_controller" type="shutdown_controller" name="shutdown_ctrl" /-->
    
    <node pkg="nhk2018_main_ros" type="tr_can" name="tr_can" />
    
    <!-- usb_can -->
    <node pkg="nhk2018_main_ros" type="usb_can_node" name="usb_can_node">
    </node>
</launch>
