<launch>
<rosparam file="$(find nhk2018_main_ros)/param/joy_assign_wireless.yaml" command="load" />
    <!-- base controller -->
    <node pkg="base_controller" type="base_controller" name="base_ctrl" output="screen">
       <param name="motor_max_acc" value="150.0" />
       <param name="motor_max_vel" value="100" />
       <param name="invert_x" value="false" />
       <param name="invert_y" value="false" />
       <param name="invert_z" value="false" />
       <remap from="motor_cmd_vel" to="base/motor_cmd_vel" />
    </node>
    
    <!-- tr_main -->
    <!-- node pkg="nhk2018_main_ros" type="nhk2018_main_ros_tr_main" name="tr_main_ctrl" output="screen">
        <rosparam param="unchuck_thres">[304, 304, 144]</rosparam>
    </node-->
    
    <node pkg="nhk2018_main_ros" type="tr_launcher_unitTest" name="main" output="screen">
        <rosparam param="unchuck_thres">[2000, 400, 144]</rosparam>
    </node>
    
    <!-- joy teleop -->
    <node pkg="base_controller" type="base_teleop_joy" name="base_teleop_joy"/>
    
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>
    
    <!-- shutdown controller -->
    <node pkg="base_controller" type="shutdown_controller_joy" name="shutdown_ctrl" />


    <node pkg="nhk2018_main_ros" type="tr_can" name="tr_can" />
    
    <!-- usb_can -->
    <node pkg="nhk2018_main_ros" type="usb_can_node" name="usb_can_node">
    </node>
    
</launch>
